{% extends "BilletBundle::layout.html.twig" %}
{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block billet_body %}

  <h2>Liste des annonces</h2>

  <ul>
    {% for billet in listBillets %}
      <li>
        <a href="{{ path('Billet_view', {'id': billet.id}) }}">
          {{ billet.title }}
        </a>
        par {{ billet.author }},
        le {{ billet.date|date('d/m/Y') }}
      </li>
    {% else %}
      <li>Pas (encore !) d'annonces</li>
    {% endfor %}
  </ul>

{% endblock %}
