{% extends "BilletBundle::layout.html.twig" %}
{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block billet_body %}

  <h2>Détail commande</h2>

  {% for commande in listCommandes %}
  <ul>
      <li>Commande numéro :
        <a href="{{ path('Billet_view', {'id': commande.id}) }}">
          {{ commande.id}}
        </a>
      </li>
      <li>
        email : {{ commande.email }}
      </li>
      <li>
        Date : {{ commande.dateAchat|date('d/m/Y') }}
      </li>
      </ul>
    {% else %}
      <li>Pas (encore !) da commande</li>
  {% endfor %}

{% endblock %}
