{% extends "BilletBundle::layout.html.twig" %}
{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block billet_body %}

  <h2>Détail billet</h2>

  {% for billet in listBillets %}
  <ul>
      <li>Commande numéro :
        <a href="{{ path('Billet_view', {'id': billet.id}) }}">
          {{ billet.id}}
        </a>
      </li>
      <li>
        Prénom : {{ billet.prenom }}
      </li>
      <li>
        Nom : {{ billet.nom }}
      </li>
      <li>
        Date : {{ billet.date|date('d/m/Y') }}
      </li>
      <li>
        Journée : {{ billet.journee }}
      </li>
      <li>
        Pays : {{ billet.pays }}
      </li>
      <li>
        Tarif : {{ billet.type_tarif }}
      </li>
      </ul>
    {% else %}
      <li>Pas (encore !) d'annonces</li>
  {% endfor %}

{% endblock %}
